*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

body {
  background: url(../img/bg-mobile.jpg) no-repeat top center/cover;
  height: 100vh;
}

body {
  color: white; 
}

.light body {
    background: url(../img/bg-mobile-light.jpg) no-repeat top center/cover;
}

body.dark{
    color: black;
}

a{
    color: white;
}

.light a{
    color: black;
}
p {
  font-family: "Inter", sans-serif; 
}

a {
  text-decoration: none; 
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px; 
  padding: 24px;
}

#profile {
  text-align: center; 
  padding: 24px;
  padding-left: 16px;
}

#profile img {
  width: 112px; 
}

#profile p {
  padding-top: 16px; 
  margin-top: 8px;
}


 /* switch */

#switch {
  position: relative;
  width: 45px; 
  margin: 4px auto; 

}


#switch button {
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    background: white url(img/moon-stars.svg) no-repeat center;
    box-shadow: 0 0 10px white;
    position: absolute;
    top: -10%;
    left: 0;
    z-index: 1;
    transform: translate(-50%);
    animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards; 
  background: white url(img/soon.svg) no-repeat center; 
}

#switch button:hover {
 outline: 8px solid rgba(255, 255, 255, 0.2); 
}

#switch span {
  display: block; 
  width: 50px; 
  height: 25px; 
  background:rgba(255, 255, 255, 0.05); 
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px); 
  -webkit-backdrop-filter: blur(4px); 
  border-radius: 9999px; 
}

.light #switch span {
  background: rgba(0, 0, 0, 0.05); 
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centraliza os itens */
  gap: 16px;
  padding: 24px 0;

}

ul li a {
    display: block;
    width: 300px;
    padding: 16px 24px;

    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    font-weight: 500;
    text-decoration: none;
    transition: background 0.2s;
}

ul li a:hover {
  background: rgba(0, 0, 0, 0.05); 
  border: 1.5px solid rgba(0, 0, 0, 0.5); 
}


.light ul li a {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.5);
}



.light ul li a:hover {
  background: rgba(0, 0, 0, 0.145); 
  border: 1.5px solid black; 
}

/* social links */
#social-links {
  display: flex; 
  justify-content: center; 
  padding: 24px 0; 
  font-size: 24px;  
}

#social-links a {
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 16px;
  transition: background 0.2s; 
  border-radius: 50%; 
}

#social-links a:hover {
  background:rgba(255, 255, 255, 0.2); 
}

.light #social-links a:hover {
  background: rgba(0, 0, 0, 0.116);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px; 
}

.profile-photo {
  border: 3px solid pink;
  border-radius: 50%;
}

.light.profile-photo {
  border: 3px solid #4855EA; 
}

.light a, .light p, .light ion-icon {
  color: black; 
}

@media (min-width: 700px) {
  body {
    background: url(img/bg-desktop.jpg) no-repeat top center/cover; 
}

  .light body {

    background: url(img/bg-desktop-light.jpg) no-repeat top center/cover; 
  }
}
@keyframes slide-in {

  from {
    left: 0; 
  }
  to {
    left: 100%; 
}
}

@keyframes slide-back {

  from {
    left: 100%; 
  }
  to {
    left: 0;
  }
}
